<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="~{fragments :: head}"></head>
<body class="container body-content" style="background-color: #c6c5ca;">

    <nav th:replace="~{fragments :: page-header}"></nav>

    <h1 th:text="${#strings.capitalizeWords(title)}"></h1>

    <form method="post">

        <th:block th:each="job : ${jobs}">
            <div class="form-group">
                <label>
                    <span th:text="${job.name + ' ID: ' + job.id}"></span>
                    <input type="checkbox" name="jobIds" th:value="${job.id}" />
                </label>
            </div>
        </th:block>

        <input type="submit" value="Delete" class="btn btn-danger" />
    </form>


</body>
</html>