<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="~{fragments :: head}">
</head>
<body style="background-image: url(/images/background.jpg);
             background-size: cover;">

<div th:replace="~{fragments :: page-header}"></div>

<div class="container body-content">
    <h2>TechJobs</h2>
    <ul>
        <li th:each="job : ${jobs}">
            <a th:href="@{'/view/' + ${job.id}}" th:text="${job.name}"></a>
        </li>
    </ul>

</div>

<small style="position: fixed; bottom: 0;">Photo by <a href="https://unsplash.com/@sigmund?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Sigmund</a> on <a href="https://unsplash.com/photos/rWE7bTqgMJE?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Unsplash</a>
</small>
</body>
</html>